<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bakaan-speech" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>speech</name>
	<js-module name="speech" src="www/speech.js">
		<clobbers target="speech" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Speech">
				<param name="android-package" value="cordova.plugin.bakaan.speech.Speech" />
			</feature>
		</config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.RECORD_AUDIO"/>
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
        </config-file>
		<source-file src="src/android/Speech.java" target-dir="src/cordova/plugin/bakaan/speech" />
		<source-file src="src/android/AudioPlayer.java" target-dir="src/cordova/plugin/bakaan/speech" />
		<source-file src="src/android/lib/nlssdk.aar" target-dir="app/libs" framework="true"/>
        <framework src="android-build.gradle" custom="true" type="gradleReference" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="speech">
				<param name="ios-package" value="speech" />
			</feature>
		</config-file>
		<source-file src="src/ios/speech.m" />
	</platform>
</plugin>